body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.container {


}

.button-group {
    display: flex;
    flex-direction: column;
    line-height: 2;
    align-items: center;
}
